
  h1,
  h2,
  h3,
  h4,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    display: block;
  }
  
:root {
    --clr-white: #fff;
    --clr-slate: #434455;
    --clr-iris: #4d5ae5;
    --clr-navy-blue: #2E2F42;
    --clr-cloud: #F4F4FD;
    --clr-ocean: #404BBF;
    --clr-cornflower: #E7E9FC;
    --clr-ligt-slate: #8E8F99;
    --clr-social-bottom: #31d0aa;
    --clr-dairy: #fcfcfc;
    
   
    


}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    font-style: normal;
    color: var(--clr-slate);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}




.logo-span-studio {
    color: var(--clr-navy-blue);
}
.logo-span-studio-white {
    color: var(--clr-cloud);
}




/* ========== EFECTIVE-SOLUTIONS ========== */

.effective-solutions {
    background: var(--clr-navy-blue);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    
}

.effective-solutions-text {
    color: var(--clr-white);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    
}


.btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;
    border: none;
    min-width: 169px;
    height: 56px;
    display: block;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--clr-iris);
    color: var(--clr-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    color: var(--clr-white);
    background: var(--clr-ocean);
    
}

/* ========== EFECTIVE-SOLUTIONS*END ========== */










/* ========== ABOUT-US ========== */


.about-us {
    padding-top: 120px;
    padding-bottom: 120px;

}

.about-us-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--clr-slate);
}

.about-us-list {
    display: flex;
    gap: 24px;
}



.about-us-list-li {
    width: calc((100% - 72px) / 4);
}

.h-three-about-us {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-navy-blue);
    margin-bottom: 8px;
}

.icon-about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--clr-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}




/* ========== ABOUT-US*END ========== */




/* ========== OUR-WORK ========== */
.h-two-list-img {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-navy-blue);
    letter-spacing: 0.02em;
    margin-bottom: 72px;

}

.our-work {
    padding-bottom: 120px;

}

.our-work-list {
    display: flex;
    gap: 24px;
}

.our-work-list-li {
    width: calc((100% - 48px) / 3); 
}

/* ========== OUR-WORK*END ========== */

/* ========== OUR-TEAM ========== */
.our-team-section {
    background-color: var(--clr-cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-img-bc {
    background-color: var(--clr-white);
}

.h-three-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-navy-blue);
    text-align: center;
    margin-bottom: 8px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-list-li {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--clr-slate);
    margin-bottom: 8px;
}

.name-position {
    padding: 32px 0px;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-item-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--clr-iris);
    border-radius: 50%;
}

.social-icon-item-link:hover,
.social-icon-item-link:focus {
    background-color: var(--clr-ocean);
}

.social-icon-item-link-svg {
   fill: var(--clr-cloud); 
}
/* ========== OUR-TEAM*END ========== */


/* ========== CUSTOMERS ========== */

.h-two-customers {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-navy-blue);
    letter-spacing: 0.02em;
    margin-bottom: 72px;

}

.section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;

}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-list-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-ligt-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: var(--clr-ligt-slate);
    justify-content: center;


}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--clr-ocean);
    color: var(--clr-ocean);


}

.customers-svg {
    fill: currentColor;

}

/* ========== CUSTOMERS*END ========== */














/* ========== HEADER ========== */
.logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--clr-iris);

}


.page-header {
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}



.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--clr-navy-blue);
    letter-spacing: 0.02em;

}


.menu {
    display: flex;
    gap: 40px;
    

}

.contacts {
    
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    
}

.page-header-container {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
    
    
}

.contact-item-post {
    margin-right: 40px;

}

.link-style-nav {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: var(--clr-navy-blue);
   
    padding: 24px 0;
    display: block;
}

.link-style-nav:hover,
.link-style-nav:focus {
    color: var(--clr-ocean);
}


.current::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--clr-ocean); 
    border-radius: 2px;  
}

.current {
    color: var(--clr-ocean);
}


.address-style {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--clr-slate);
    letter-spacing: 0.02em;
}

.address-style:hover,
.address-style:focus {
    color: var(--clr-ocean);
}
/* ========== HEADER*END ========== */

/* ========== FOOTER ========== */
.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr-cloud);
}

.bottom {
    background: var(--clr-navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;

}

.logo-bottom {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--clr-iris);
    display: inline-block;
    margin-bottom: 16px;

}

.bottom-p {
    color: var(--clr-white);
    max-width: 264px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.socialm-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--clr-white);
    margin-bottom: 16px;
}

.container-footer {
    display: flex;
    align-items: baseline;

}

.logo-p {
    margin-right: 120px;
}

.bottom-social-list {
    display: flex;
    gap: 16px;
}

.bottom-social-list-item {
    width: 40px;
    height: 40px;

}

.bottom-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: var(--clr-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom-social-link:hover,
.bottom-social-link:focus {
    background-color: var(--clr-social-bottom);
}

.social-svg {
    fill: var(--clr-cloud);

}

.subscribe {
    margin-left: 80px;
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--clr-white);

    }

.subscribe-form {
    display: flex;
    
}

.subscribe-label {
    margin-right: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--clr-white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--clr-white);
}

.subscribe-input::placeholder {
    color: var(--clr-white);
}



.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--clr-white);
    cursor: pointer;
    background-color: var(--clr-iris);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    

}

.button-subscribe:hover,
.button-subscribe:focus {
    color: var(--clr-white);
    background: var(--clr-ocean);

}


.subscribe-telegram-icon {
    margin-left: 16px;
}

/* ========== FOOTER*END ========== */


/* ========== MODAL ========== */
.modal {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px; 
    min-height: 576px;
    background: var(--clr-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding: 72px 24px 24px 24px;

}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--clr-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--clr-ocean);
    border: none;

}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: var(--clr-white);
}
.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;  
  color: var(--clr-navy-blue);
  margin-bottom: 16px;
}

                 /* FORM */
.modal-form {
    display: flex;
    flex-direction: column;
    
}                 

 .form-name {
    margin-bottom: 8px;
 }   
 
 .label-name {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: var(--clr-ligt-slate); 
   display: block;
   margin-bottom: 4px;
 }

 .input-box-user-name {
    position: relative;

 }

 .input-user-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.2); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border: 1px solid rgba(46, 47, 66, 0.4);
 }

 .input-user-name:focus  {
    border-color: var(--clr-iris)
 }

 .icon-name-user {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: var(--clr-navy-blue);
 }

.input-user-name:focus  + .icon-name-user {
    fill: var(--clr-iris); 
 }

 .form-comment-box {
    margin-bottom: 16px;

 }

 .textarea-modal {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .textarea-modal:focus {
    border-color: var(--clr-iris);
 }

 .container-checkbox {
    margin-bottom: 24px;

 }

 .label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--clr-ligt-slate);
    
 }

 .label-span-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent; 
    margin-right: 8px;
 }

 .checkbox-input:checked + .label-checkbox > .label-span-checkbox {
    background-color: var(--clr-ocean);
    border: none;
    fill: var(--clr-white);
    border-color: var(--clr-ocean);

 }

 .privacy-policy-link {
    color: var(--clr-iris);
 }

 .btn-order-s {
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    background-color: var(--clr-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    text-align: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .btn-order-s:hover,
 .btn-order-s:focus {
    color: var(--clr-white);
    background: var(--clr-ocean);
 } 
/* ========== MODAL*END ========== */




/* ========== PORTFOLIO ========== */

.section-portfolio {
padding-top: 96px;
padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn-portfolio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 12px 24px;
    border: 1px solid var(--clr-cornflower);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--clr-cloud);
    color: var(--clr-iris);
    border-radius: 4px;
   
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--clr-white);
    background: var(--clr-ocean);
    border-color: transparent;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-list-li {
    width: calc((100% - 48px) / 3);
}
.project-list-link {
    padding: 32px 16px;
    border: 1px solid var(--clr-cornflower);
    border-top: none;

}
.h-two-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-navy-blue);
    margin-bottom: 8px;
}

.project-list-link-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.project-list-link-item:hover,
.project-list-link-item:focus {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}


.container-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--clr-cloud);
    padding: 40px 32px; 
    background-color: var(--clr-iris);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.project-list-link-item:hover .overlay,
.project-list-link-item:focus .overlay {
    transform: translateY(0%);
}

/* ========== PORTFOLIO*END ========== */